.multiseek-fieldset {
    box-shadow: 8px 8px 8px #eeeeee;
}

.multiseek-remove-from-results {
    display: none;
    color: red;
    text-weight: bold;
}

.multiseek-remove-from-results a {
    color: red;
}

.multiseek-row:hover .multiseek-remove-from-results {
    display: inline;
}