<link rel="stylesheet" href="{{ STATIC_URL }}multiseek/css/style.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}multiseek/css/Aristo/Aristo.css"/>

<script src="{{ STATIC_URL }}multiseek/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}multiseek/js/jquery-ui-1.10.3.custom.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}multiseek/js/ui/i18n/jquery.ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>

<script type="text/javascript" src="{% url "multiseek:js_i18n" %}"></script>
<script>
    /* multiseek.js needs that to be set before */
    djangoLanguageCode = '{{ LANGUAGE_CODE }}';
</script>
<script src="{{ STATIC_URL }}multiseek/js/multiseek.js" type="text/javascript"></script>
{% include 'autocomplete_light/static.html' %}
