*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject12

.coverage
ghostdriver.log
chromedriver.log
.idea/
test_project/db.sqlite
build/
dist/
django_multiseek.egg-info/*
static/
!multiseek/static

*~
selenium-server.log
venv/
test_project/components/
test_project/bower_components

wheelhouse

.cache
node_modules
test_project.test_app.tests
test_app.tests
*.bak
\#*

*.mo
test_project/geckodriver.log