language:
  python

python:
  - "2.7"
  - "3.5"

env:
  - DJANGO=1.7.11
  - DJANGO=1.8.8

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - npm install -g bower
  - pip install django==$DJANGO --quiet
  - pip install -r dev_requirements.txt --quiet
  - cd test_project && python manage.py bower_install && cd ..

script:
  - cd test_project && PYTEST_OPTIONS="--splinter-webdriver=firefox --liveserver=localhost:8000-9000" ./runtests.sh
