include *.rst *.txt PLAN README LICENSE README.md requirements.txt
recursive-include multiseek *.html *.css *.js *.py *.po *.mo
recursive-include multiseek/static/multiseek jquery* multiseek* style*
exclude test_app
exclude test_project
