pytest-django==3.1.2
pytest-splinter==1.8.5
pytest-cov==2.5.1
coveralls==1.2.0
mock==2.0.0
git+https://github.com/vandersonmota/model_mommy.git#egg=model_mommy
psycopg2==2.7.1
django-compressor==2.2
bumpversion==0.5.3
tox==2.9.1
pytest-pythonpath
