coveralls

selenium
# splinter
https://github.com/mpasternak/splinter/archive/0.13.0-dev.zip#egg=splinter==0.13.0-dev

pytest-django
pytest-splinter
pytest-cov
pytest-pythonpath

mock
model_bakery
psycopg2-binary

bumpversion
tox

