python-dateutil
simplejson
pytest-django
pytest-splinter
mock
model_mommy

# compressor IS needed for liveserver testing. without compressor,
# it won't find files in YarnFinders
django-compressor==2.1
