{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'multiseek/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'Aristo/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}"/>

    <script src="{% static 'jquery/dist/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'jqueryui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'datetimepicker/jquery.datetimepicker.js' %}"></script>

    {# I'm unsure how to parametryze this for LANGUAGE_CODE with default #}
    {# Django templating engine, in Jinja2 I'd use {% set ...  %} #}
    <script src="{% static '' %}"></script>

    {% if request.GET.foundation == "1" %}
        <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
        <script src="{% static 'foundation/js/vendor/fastclick.js' %}"></script>
        <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
        <script src="{% static 'foundation-datepicker/js/foundation-datepicker.js' %}"></script>
        <link rel="stylesheet" href="{% static 'foundation-datepicker/stylesheets/foundation-datepicker.css' %}" />
        <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}"/>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>
    {% else %}
        <style>
            div.columns { display: inline; position: relative; }
            .row { display: inline;  width: 100%; }
        </style>
    {% endif %}

    {% block extrahead %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% if request.GET.foundation == "1" %}
    <script>
        $(document).foundation();
    </script>
{% endif %}

    {% with 'jquery.ui.datepicker-'|add:LANGUAGE_CODE|add:'/index.js' as datepicker_url %}
    <script src="{% static datepicker_url %}" type="text/javascript"></script>
    {% endwith %}

</body>
</html>
