{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <script src="{% static 'jqueryui/jquery-ui.css' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'multiseek/css/style.css' %}"/>


    <script src="{% static 'jquery/dist/jquery.js' %}" type="text/javascript"></script>

    <script src="{% static 'jqueryui/jquery-ui.js' %}" type="text/javascript"></script>


    {% block dal_includes %}
        <link rel="stylesheet" type="text/css"
              href="{% static "autocomplete_light/vendor/select2/dist/css/select2.css" %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static "autocomplete_light/select2.css" %}"></link>
        <script src="{% static "autocomplete_light/jquery.init.js" %}"></script>
        <script src="{% static "autocomplete_light/autocomplete.init.js" %}"></script>
        <script src="{% static "autocomplete_light/vendor/select2/dist/js/select2.full.js" %}"></script>
        <script src="{% static "autocomplete_light/vendor/select2/dist/js/i18n/pl.js" %}"></script>
        <script src="{% static "autocomplete_light/forward.js" %}"></script>
        <script src="{% static "autocomplete_light/select2.js" %}"></script>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'foundation-sites/dist/css/foundation.css' %}"/>
    <link rel="stylesheet" href="{% static 'foundation-datepicker/css/foundation-datepicker.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "foundation-datepicker/foundation/fonts/foundation-icons.css" %}"></link>

    <script src="{% static 'what-input/dist/what-input.js' %}"></script>
    <script src="{% static 'foundation-sites/dist/js/foundation.js' %}"></script>
    <script src="{% static 'foundation-datepicker/js/foundation-datepicker.js' %}"></script>

    {% block extrahead %}
        <script type="text/javascript"
                src="{% url "js_i18n_catalog" %}"></script>
    {% endblock %}
</head>
<body>
<div class="grid-container">
    {% block content %}
    {% endblock %}
</div>

<script language="text/javascript">
    $(document).on("load", function () {
        $(document).foundation();
    });
</script>
</body>
</html>
